DATABASE_URL=
JWT_SECRET=
PASSWORD_RESET_SECRET=
PORT=4000
MOBILE_BRANCH_ID=3
WEB_BRANCH_ID=3
MOBILE_FREE_SHIPPING_THRESHOLD=1000
MOBILE_SHIPPING_FEE=75
MOBILE_RAZORPAY_WEBHOOK_SECRET=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=
SHIPROCKET_API_USER_EMAIL=
SHIPROCKET_API_USER_PASSWORD=
SHIPROCKET_WEBHOOK_TOKEN=
